.panel {
  margin-top: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 1);
  color: white;
  padding: 2%;
}

#heading {
  text-align: center;
  text-shadow: antiquewhite 0 -3px 1px;
  font-size: 80px;
  color: black;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image:url("../img/pizzabrot.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
    height: 100%
}

#newbreadstick {
  color: black;
}

